<!DOCTYPE html>
<html data-bs-theme="dark">
  <head>
    <title>Ilium Public Library</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <div>
      <% if notice %>
        <p class="alert alert-success"><%= notice %></p>
      <% elsif alert %>
        <p class="alert alert-danger"><%= alert %></p>
      <% end %>
    </div>

    <%= render 'layouts/nav' %>

    <div class="<%= devise_controller? ? 'd-flex flex-column align-items-center' : ''%>">
      <%= yield %>
    </div>
  
    <%= render 'layouts/footer' %>
  </body>
</html>
